html {
    font-size: 62.5%;


}

body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "about about about about"
        "services services services services"
        "footer footer footer footer";

    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}@font-face {
    font-family: paradise;
    src: url(../fonts/ParadiseLove.otf) , url(../fonts/ParadiseLove.ttf);
}

.header {
    grid-area: header;
    
}

.header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1 {
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
    font-family: paradise;

}

.header a:hover h1 {
    color: coral;

}

.hero {
    grid-area: hero;
    height: 89vh;
    background: url(../img/jackkunha-painel2.jpeg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
    
    

.hero h2 {
    margin-top: 36rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 4rem;
    color: #fff;
}

.hero::after {
    content: url(../img/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: seta 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes seta {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translateY(0.4);
        opacity: 0.9;

    }
}

@media (max-width:425px) {
    .hero::after{
        max-height: 2rem;
        margin: 0 auto;

    }
    .hero {
        height: 69vh;
    }

    .hero h2 {
        font-size: 2.5rem;
        text-align: center;
    }

}
@media (max-width:480px){
    .hero h2 {
        text-align: center;
    }
}



.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width-size);
    margin: 0 auto;

}

.about .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20%;
    position: relative;
   
}

.about .item-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20%;
    position: relative;
   

}

.about .item-right::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: lightskyblue;
    opacity: 0.4;
    display: none;
}

.about .image.right {
    display: flex;
    background: url(../img/jackkunha_17.jpeg) center no-repeat;
    position: relative;

}

.about .item-right h3 {
    font-family: paradise;
    font-size: 4rem;
    font-weight: 400;
    margin: 30px 0;

}

.about .item-right p {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 30px 0;

}

.about .item-right strong {
    
    font-size: 3rem;
    color: lightpink;
}
.about .item-right .paradise {
    
    font-family: paradise;
    

}

.about .item .btn-know-more,
.about .item-right .btn-know-more {
    font-size: 1.6rem;
    align-self: center;
    border-radius: 50px;
    padding: 2px 8px;
    transition: 0.4s ease-in-out;
    position: absolute;
    bottom: 60px;
    z-index: 1;

}

.about .item .btn-know-more:hover,
.about .item-right .btn-know-more:hover {
    color: #fff;
    background-color: coral;
    animation: know 0.8s infinite alternate ease-in-out;

}

@-webkit-keyframes know {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.3;

    }

    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9;
    }
}




.about .image.left {
    display: flex;
    background: url(../img/jackkunha_18.jpeg) center no-repeat;
    background-size: cover;

    position: relative;
}

.about .image.left::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: lightpink;
    opacity: 0.4;
    display: block;

}


.about .item-right:hover::before {
    display: block;
}

.about .image {
    width: 100%;
    height: 100%;
}

.about .item h3 {
    font-family: paradise;
    font-size: 4rem;
    font-weight: 400;
    margin: 30px 0;
}


.about .item p {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 30px 0;


}



@media( max-width:425px){
    .about .item {
        text-align: center;
    }
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .about .item .btn-know-more {
        align-self: center;
        margin: 0 auto;
    }
}
@media( max-width:480px){
    .about{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

}

/* stop */
.services {
    grid-area: services;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: 0.9s ease-in-out;
    
    background-color: lightblue;

}
.service image {
    width: 100%;
    height: 100%;

}
.service a:hover img {
    opacity: 0.8;
}
@media(max-width:768px){
    .services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media(max-width:424px){
    .services {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 0;
    background-color: lightgreen;
    
}
.footer h4 {
    font-family: paradise;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.footer nav {
    margin: 50px 0;
}
.footer nav ul {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;

}
.footer nav ul li a {
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.4s ease-in-out;
 
 }
 .footer nav ul li a:hover{
    font-weight: 700;
    color: #fff;
}
.footer .social a:hover {
    color: #fff;

}

.footer .social i {
    font-size: 2rem;
    transition: 0.4s ease-in-out;
   

}
.footer .social  a {
    margin: 20px; 

}






